PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/cinebook
# Or MongoDB Atlas: MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cinebook?retryWrites=true&w=majority
JWT_SECRET=cinebook_super_secret_jwt_key_2026
CLIENT_URL=http://localhost:5173
